body, ul, li, div, h1, h2{
	padding: 0;
	margin: 0;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

.clr{
	clear: both;
	overflow: hidden;
	height: 0;
}

a.closeBtn{
	position: absolute;
	top: 10px;
	right: 10px;
	display: block;
	width: 60px;
	padding: 4px 0;
	text-align: center;
	background: #fff;
	border: 1px solid #85B6E2;
	color: #333;
}

a.closeBtn:hover{
	color: #fff;
	border: 1px solid #85B6E2;
	background: #85B6E2;
}

body{
	padding: 10px 10px 20px;
}

h1{
	color: #85B6E2;
	text-align: center;
	padding-top: 20px;
}

.example{
	border: 1px dashed #ccc;
	padding: 40px;
	margin-top: 10px;
	zoom: 1;
}

.example .description{
	color: #85B6E2;
	float: left;
	padding: 10px 20px 0 80px;
	font-size: 20px;
}

.example .tigger{
	display: block;
	width: 80px;
	padding: 10px;
	text-align: center;
	background: #fff;
	border: 1px solid #999;
	color: #333;
	cursor: pointer;
	float: left;
}

.example select{
	margin-top: 10px;
}

.blk{
	width: 440px;
	position: relative;
}

.blk .head, .blk .head-right, .blk .foot, .blk .foot-right{
	background: url(pop_up_bg.png);
	overflow: hidden;
	height: 4px;
}

.blk .head{
	padding-left: 4px;
}

.blk .head-right{
	background-position: right top;
}

.blk .foot{
	padding-left: 4px;
	background-position: left bottom;
	_height: 3px;
}

.blk .foot-right{
	background-position: right bottom;
}

.blk .main{
	border-left: 2px solid #85B6E2;
	border-right: 2px solid #85B6E2;
	position: relative;
	background: #fff;
}

.blk .main h2{
	font: bold 16px "Microsoft YaHei";
	padding: 10px 20px 2px;
	color: #85B6E2;
}

.blk .main ul{
	padding: 20px;
	zoom: 1;
	overflow: hidden;
	font-size: 12px;
}

.blk .main ul li{
	float: left;
	width: 100px;
	text-align: center;
	line-height: 30px;
	margin-bottom: 10px;
}

.blk .main ul li a{
	color: #333;
	display: block;
}

.blk .main ul li a:hover{
	background: #85B6E2;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}

/* 自定义样式 */
.t5 .blk{
	width: 700px;
}

.t5 .blk h2{
	color: #aaa;
}

.t5 .blk .main ul li a{
	color: #aaa;
}

.t5 .blk .head, .t5 .blk .head-right, .t5 .blk .foot, .t5 .blk .foot-right{
	background: url(pop_up_bg2.png);
}

/**/
* html .popup_iframe{
	width: expression(this.previousSibling.style.width);
	height: expression(this.previousSibling.style.height);
}

